ul{
    margin: 0;
    padding: 0;
}
a{
    color: #000;
}
html{-ms-overflow-x: hidden;}
body {
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', Arial, sans-serif;
}
/* menu top */
.header-callto {
    color: #999797;
    font-family: Montserrat-Light;
}
.header-callto > a:first-child {
    padding-left: 0;
    padding-right: 5px;
}

.header-callto > a {
    color: #666666;
    font-size: .8rem;
    text-decoration: none;
}
.header-callto .fa.fa-phone, .header-callto .fa.fa-envelope {
    color: #f6b62e;
    margin-right: 3px;
}
ul#top-menu li{
    display: inline-block;
    border-right: 1px solid #999999;
    padding: 0 .5rem;
    font-family: 'ProximaNova';
}
.top-menu .user-name .name{
    color: #f6b62e;
}
.top-menu .login{
    display: inline-block;
    padding: 0 .5rem;
    font-family: 'ProximaNova';
}
.top-menu .logout{
    text-decoration: underline;
}
.main-header #header-links span.icon{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 32px;
    text-align: center;
    height: 32px;
    float: left;
    margin-right: 10px;
}
.main-header #header-links span.icon i{
    background-color: transparent;
    line-height: 30px;
    color: #232f3e;
    width: auto;
    height: auto;
    font-size: 1rem;
}
.main-header #header-links .title a{
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
}
.main-header #header-links .description{
    font-family: 'Montserrat-Light';
    font-size: .8rem;
    color: #5C676E;
}
.main-header #header-links .header-link:hover .title a,
.main-header #header-links .header-link:hover .icon i{
    color: #0056b3!important;
}
.widget-product{
    margin-bottom: 2rem;
}
.widget-product .wrap-header-product .prod-title{
    font-family: 'Montserrat-SemiBold';
    font-size: 1.2rem!important;
    color: #23527c!important;
    border-bottom: 3px solid #ff8b00;
    padding: 3px 5px;
    margin: 5px 5px 0;

}
.widget-product .wrap-header-product .wrap-manufacturer_images .slick-prev{
    background: url(../images/bt-prev.png) no-repeat;
    width: 25px;
    height: 60px;
    left: -25px!important;
    top: 50%!important;
    right: auto!important;
    transform: translateY(-50%);
}

.widget-product .wrap-header-product .wrap-manufacturer_images .slick-next{
    transform: translateY(-50%);
    top: 50%!important;
    width: 25px;
    height: 60px;
    right: -30px!important;
    left: auto!important;
    background: url(../images/bt-next.png) no-repeat;
}
.widget-product .products .title-cart a h3{
    font-size: 1rem;
    font-family: 'ProximaNova-Bold';
}
.widget-product .products .title-cart a{
    text-decoration: none;
}
.widget-product .products .price-desc .text{
    color: red;
    font-family: 'Montserrat-SemiBold';
    font-size: 0.9rem;
}
footer {
    background-color: #232f3e;
    color: #999999;
    word-spacing: 2px;
    line-height: 1.5rem;
    font-size: .8rem;
}
footer #section-footer .title{
    color: #ffffff;
    font-size: 15px;
    font-family: "Montserrat-Bold";
    font-weight: 600;
    margin-bottom: 25px;
}
footer #section-footer .social-icons a{
    margin-left: .5rem;
}
footer #section-footer .social-icons a i{
    font-size: 1rem;
    color: #a8a2a2
}
.widget-product .load-more {
    cursor: pointer;
    margin: 2rem 0;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 1rem;
    color: #f30;
    padding: 10px 0;
    font-family: 'Montserrat-SemiBold';
    display: block;
    text-align: center;
}
.wrap-header-product{
    margin-bottom: 1rem;
}
.product{
    box-sizing: border-box;
    border: 5px solid transparent;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}

.product:hover{
    box-shadow: 0 0 5px #ccc;
    border-color: #fff;
}

/* Single product wc */
.product-detail.product{
    line-height: 1.5rem;
}
.product-detail.product:hover{
    box-shadow: none;
    border-color: transparent;
}
.product-detail.product .text-price{
    color: red;
    font-family: 'Montserrat-SemiBold';
    font-size: 0.9rem;
    margin: .5rem 0;
}
footer.entry-footer{
    padding: 1rem .5rem;
}
footer.entry-footer a{
    color: #f1f1f1;
}
.post  .posted-on{
    font-size: .8rem;
}