
/* menu top */
.header-callto {
    color: #999797;
    font-family: Montserrat-Light;
}
.header-callto > a:first-child {
    padding-left: 0;
    padding-right: 5px;
}

.header-callto > a {
    color: #666666;
    font-family: Montserrat-Bold;
    font-size: 13px;
    text-decoration: none;
}
.header-callto .fa.fa-phone, .header-callto .fa.fa-envelope {
    color: #0bb1af;
    margin-right: 3px;
}
ul#top-menu li{
    display: inline-block;
    border-right: 1px solid #999999;
    padding: 0 .5rem;
    font-family: 'Montserrat-Light';
}
ul#top-menu li:last-child{
    border-right: 0;
}
.main-header #header-links span.icon{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 32px;
    text-align: center;
    height: 32px;
    float: left;
    margin-right: 10px;
}
.main-header #header-links span.icon i{
    background-color: transparent;
    line-height: 30px;
    color: #5C676E;
    width: auto;
    height: auto;
    font-size: 1rem;
}
.main-header #header-links .title a{
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
}
.main-header #header-links .description{
    font-family: 'Montserrat-Light';
    font-size: .8rem;
    color: #5C676E;
}
.main-header #header-links .header-link:hover .title a,
.main-header #header-links .header-link:hover .icon i{
    color: #0056b3!important;
}
